<div class="container bg-info">
  <div class="row">
    <div class="col-md-12">
      <%= @customer.customer_name %>(<%= @store.id %>)
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <ul>
        <li><%= @store.store_code %></li>
        <li><%= @store.store_name %></li>
        <li><%= @store.phone_number %></li>
        <li><%= @store.fax_number %></li>
        <li><%= @store.business_hours_start %>〜<%= @store.business_hours_end %></li>
        <li><%= @store.pos_type %></li>
        <li><%= @store.ip_address %></li>
        <li><%= @store.remarks %></li>
      </ul>
    </div>

    <!-- GoogleMapを表示 -->
    <div class="col-md-6" style=”backgroudcolor: white” >
      GoogleMapsを表示する
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= link_to "インシデントを登録する", new_customer_store_ticket_path(@customer, @store), class:"btn btn-lg btn-primary pull-right" %>
    </div>
    <div class="col-md-4">
      <%= link_to "インシデント一覧を表示する", tickets_path(@ticket), class:"btn btn-lg btn-primary pull-right" %>
    </div>
  </div>


    <%#= render template: "tickets/index" %>
</div>
