<tr>
  <td><%= link_to customer.id, customer_path(customer) %></td>
  <td><%= customer.customer_name %></td>
  <td><%= customer.business %></td>
  <td><%= customer.phone_number %></td>
  <td><%= l customer.created_at, format: :default %></td>

  <!-- 管理者の場合は、編集・削除ボタンを表示 -->
  <% if current_user.admin? %>
    <td class="text-center">
      <%= link_to '編集', edit_customer_path(customer), class: "btn btn-primary btn-xs" %>
    </td>
    <td class="text-center">
      <%= link_to '削除', customer, method: :delete, data: { confirm: '削除してもよろしいですか？' }, class: "btn btn-danger btn-xs" %>
    </td>
  <% else %>
    <td></td>
  <% end %>
</tr>
