<div class="container bg-info">
  <div class="row">
    <div class="col-md-12">
      <%= @customer.customer_name %>(<%= @store.id %>)
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <ul>
        <li><%= @ticket.id %></li>
        <li><%= @ticket.title %></li>
        <li><%= @ticket.status %></li>
        <li><%= @ticket.sender %></li>
        <li><%= @ticket.received_user_id %></li>
        <li><%= @ticket.assign_user_id %></li>
        <li><%= @ticket.receive_date %></li>
        <li><%= @ticket.receive_time %></li>
        <li><%= @ticket.close_date %></li>
        <li><%= @ticket.close_time %></li>
        <li><%= @ticket.limit_date %></li>
        <li><%= @ticket.content %></li>
        <li><%= @ticket.detail %></li>
        <li><%= @ticket.result %></li>
        <li><%= @ticket.remarks %></li>
      </ul>
    </div>
  </div>
</div>
